<div layout="column" layout-align="center" layout-fill>

  <div flex layout="column" layout-align="center none">
    <div layout="row" layout-align="center center"  layout-xs="column">
      <div flex layout="column" layout-align="center center">
        <div flex layout="column" layout-align="center center" layout-padding>
          <div layout="column" layout-align="center">
            <img class="logo" src="/img/github.svg" alt="github">
          </div>
          <div layout="column" layout-align="center">
            <h3 class="md-title">{{ $ctrl.message }}</h3>
          </div>
        </div>

      </div>
      <div flex layout="row" layout-align="center center" layout-fill>
        <div flex="66">
          <md-input-container class="md-block">
            <!-- Use floating label instead of placeholder -->
            <input class="text-big" type="text" ng-model="$ctrl.user" ng-change="$ctrl.searchUsers()" ng-model-options="{debounce: 500}" autofocus/>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.searching" flex layout="row" layout-align="center">
    <div ng-if="$ctrl.loading" layout="column" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="!$ctrl.loading" layout="column" flex layout-align="center stretch">
      <md-content flex layout-padding style="border: 1px solid blue" layout-align="space-around">
        <md-list>
          <md-list-item ng-repeat="user in $ctrl.users">
            <div flex=10>
              <img ng-src="{{user.avatar_url}}" class="md-avatar" alt="" />
            </div>
            <div flex>
              <div class="md-list-item-text" layout="column">
                <h4>{{user.login}}</h4>
              </div flex>
            </div>
            <div>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>







