<section id="header" class="section">
  <div class="container is-fluid">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <img class="logo" src="/img/github.svg" alt="github">
        </div>        
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="field">
            <div class="control has-icons-right">
              <input type="text" class="input is-medium" placeholder="Buscar en GitHub..." ng-model="$ctrl.user" ng-change="$ctrl.searchUsers()" ng-model-options="{debounce: 500}" autofocus>
              <span class="icon is-small is-right" ng-if="!$ctrl.loading">
                <i class="fas fa-search"></i>
              </span>
              <span class="icon is-right" ng-if="$ctrl.loading">
                <i class="fas fa-circle-notch fa-pulse"></i>
              </span>
            </div>
          </div>
        </div>
      </div>      
    </nav>
  </div>
</section>
<section id="content" class="section">
  <div class="container is-fluid" ng-if="$ctrl.searching">    
    <table class="table is-fullwidth is-bordered is-hoverable" ng-if="!$ctrl.loading && $ctrl.users.length > 0">
      <thead>
        <tr>
          <th>
            Avatar
          </th>          
          <th>
            Username
          </th>
          <th>
            Seguidores
          </th>          
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>
            Avatar
          </th>
          <th>
            Username
          </th>
          <th>
            Seguidores
          </th>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="user in $ctrl.users">
          <th>
            <figure class="image is-48x48">
              <img ng-src="{{user.avatar_url}}" alt="avatar" />              
            </figure>
          </th>
          <td>
            {{user.login}}
          </td>         
          <td>
            <ul>
              <li href="#" ng-repeat="follower in user.followers">{{follower.login}} </li>
              <li ng-if="!user.followers.length" href="#">Sin seguidores</li>
            </ul>            
          </td>
        </tr>        
      </tbody>
    </table>
  </div>
</section>
