<table class="table is-fullwidth is-bordered is-hoverable">
    <thead>
        <tr>            
            <th>
                Usuario
            </th>
            <th>
                Seguidores
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Usuario
            </th>            
            <th>
                Seguidores
            </th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="user in $ctrl.users">
            <td>
                <div class="columns is-paddingless is-mobile">                    
                    <div class="column is-narrow">
                        <figure class="image is-32x32">
                            <img ng-src="{{user.avatar_url}}" alt="avatar" />
                        </figure>           
                    </div>               
                    <div class="column is-narrow">
                        <a href="#">{{user.login}}</a>    
                    </div>
                </div>                
            </td>
            <td>
                <ul>
                    <li href="#" ng-repeat="follower in user.followers"><a href="#">{{follower.login}}</a></li>
                    <li ng-if="!user.followers.length" href="#">Sin seguidores</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>


