//COLOR SETTINGS
$white: #fff;
$red: red;

body, html {
  background-color: $white;  
}

//Color Classes
.white {
  background-color: $white;
}

.text-white{
  color: $white;
}

.text-red{
  color: $red;
}

.text-align-right {
  text-align: right;
}

.text-align-center{
  text-align: center;
}

// Custom Classes
.logo {
  width: 20vw;
}

.container-shadowed {
  border-bottom: 15px solid black
}

//Animation Classes
.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

//MEDIA-QUERIES

/* Custom, iPhone Retina */
 @media only screen and (min-width: 320px) {
  .logo {
    width: 50vw;
  }
 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width: 480px) {
  .logo {
    width: 30vw;
  }
 }

 /* Small Devices, Tablets */
 @media only screen and (min-width: 768px) {
  .logo {
    width: 30vw;
  }
 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width: 992px) {
  .logo {
    width: 20vw;
  }
 }






